{
    "version": "@VERSION@",
    "description": "Repairs command-line arguments crossing between native Windows and MSYS2 programs",
    "homepage": "https://github.com/zetaloop/scoop-zsh",
    "license": "MIT",
    "architecture": {
        "64bit": {
            "url": "https://github.com/zetaloop/scoop-zsh/releases/download/msys2-argv-fix-v@VERSION@/msys2-argv-fix.dll",
            "hash": "@HASH@"
        },
        "arm64": {
            "pre_install": "abort \"MSYS2 does not publish an ARM64 runtime.\""
        }
    },
    "post_install": [
        "$prefix = \"$dir\".Replace('\\', '/')",
        "$prefix = \"/proc/cygdrive/$($prefix[0].ToString().ToLower())$($prefix.Substring(2))\"",
        "$entry = \"$prefix/msys2-argv-fix.dll\"",
        "$entries = @((Get-EnvVar 'LD_PRELOAD' -Global:$global) -split ':' | Where-Object { $_ -and $_ -ne $entry })",
        "Set-EnvVar 'LD_PRELOAD' (($entries + $entry) -join ':') -Global:$global"
    ],
    "uninstaller": {
        "script": [
            "$prefix = \"$dir\".Replace('\\', '/')",
            "$prefix = \"/proc/cygdrive/$($prefix[0].ToString().ToLower())$($prefix.Substring(2))\"",
            "$entry = \"$prefix/msys2-argv-fix.dll\"",
            "$entries = @((Get-EnvVar 'LD_PRELOAD' -Global:$global) -split ':' | Where-Object { $_ -and $_ -ne $entry })",
            "Set-EnvVar 'LD_PRELOAD' ($entries -join ':') -Global:$global"
        ]
    },
    "checkver": {
        "github": "https://github.com/zetaloop/scoop-zsh",
        "regex": "msys2-argv-fix-v([\\d.]+)"
    },
    "autoupdate": {
        "architecture": {
            "64bit": {
                "url": "https://github.com/zetaloop/scoop-zsh/releases/download/msys2-argv-fix-v$version/msys2-argv-fix.dll"
            }
        }
    }
}
